@charset "UTF-8"

   ; main{
        text-align: center;
        margin: 10px;
        padding: 20px;
        width: 600px;
        will-change: auto;
        background-color: rgb(182, 247, 156);
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif
        
        
    }
    ;body{
        background-color:(rgb(53, 155, 12));
        font-family: Arial, Helvetica, sans-serif;
    }
    h1#principal{
        background-color: green;
        color: white;
        text-align: center;
    }
    h1{
        background-color: green;
        color: white;
        text-align: center;
    }

    h2{
        background-color: rgb(46, 190, 46);
        color: white;
        
    }